instana
Werkzeug
gunicorn
Flask==2.3.2
opentelemetry-api==1.34.1
opentelemetry-sdk==1.34.1
opentelemetry-proto==1.34.1
opentelemetry-exporter-otlp-proto-grpc==1.34.1
opentelemetry-distro==0.55b1
opentelemetry-instrumentation==0.55b1
opentelemetry-instrumentation-dbapi==0.55b1
opentelemetry-instrumentation-flask==0.55b1
opentelemetry-instrumentation-wsgi==0.55b1
opentelemetry-instrumentation-pymongo==0.55b1
opentelemetry-semantic-conventions==0.55b1
opentelemetry-util-http==0.55b1
pyodbc==5.2.0
pymongo==4.3.3
